/* style-9.css */

/* Цель: адаптивная сетка карточек:
   колонки сами подстраиваются по ширине контейнера. */

/* 
Для grid-template-columns:
- auto-fit заменяет количество ячеек 
- minmax(min, max) задаёт минимальный и максимальный размер растяжения карточки
*/

.grid {
  display: grid;
  gap: 20px;
}
