/* style-10.css */

/* Цель: растянуть ячейку 1 на весь экран, остальные ячейки идут по порядку*/

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.cell {
  background-color: rgb(11, 0, 171);
}
.cell-1 {
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
  color: black;
}
