/* style-8.css */

/* Цель:
  - элементы центрированы 
  - 4 угловых элемента прижаты к углам ячейки (start/start, end/start, ...).
*/

/* 
Может понадобиться:
  - place-content
  - place-items
  - justify-self
  - align-self
*/

/* style-10.css */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(4, 110px);
  gap: 20px;
  width: 100%;
  min-height: 80vh;
}
.cell {
  min-width: 50px;
  aspect-ratio: 1 / 1;
}
