/* style-3.css */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

/* 10 9 8 7 6 */
.cell-6 {
  grid-area: 2 / 5;
}
.cell-7 {
  grid-area: 2 / 4;
}
.cell-8 {
  grid-area: 2 / 3;
}
.cell-9 {
  grid-area: 2 / 2;
}
.cell-10 {
  grid-area: 2 / 1;
}

/* 20 19 18 17 16 */
.cell-16 {
  grid-area: 4 / 5;
}
.cell-17 {
  grid-area: 4 / 4;
}
.cell-18 {
  grid-area: 4 / 3;
}
.cell-19 {
  grid-area: 4 / 2;
}
.cell-20 {
  grid-area: 4 / 1;
}
