/* style-7.css */

/* Цель: layout через grid-template-areas. */

/* 
Пример:

.grid {
  grid-template-areas: 
  "a a a a"
  "b b b b"
  "c c d d"
  "c c d d"
}

.cell-1 {
  grid-area: a;
}

.cell-2 {
  grid-area: b;
}

.cell-3 {
  grid-area: c;
}

.cell-4 {
  grid-area: d;
}

*/

.grid {
  display: grid;
  grid-template-columns: repear(4, 1fr);
  gap: 20px;
}
