/* style-3.css */

/* Цель: 5x4, но во 2-й и 4-й строке порядок ячеек наоборот. */

.grid {
  display: grid;
}

/* TODO 
  Разверни элементы 6–10 во 2-й строке, и 16–20 в 4-й строке.

  Может понадобиться:
   - grid-area (row-start / col-start / row-end / col-end)
   - или grid-column / grid-row
   - или grid-column-start / grid-row-start

  Надо переопределить позицию 10 элементов, у которых обратный порядок,
  остальные пусть размещаются автоматически.
*/
