/* style-4.css */
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

/* row 1: 1..6 */
.cell-1 {
  grid-area: 1 / 1;
}
.cell-2 {
  grid-area: 1 / 2;
}
.cell-3 {
  grid-area: 1 / 3;
}
.cell-4 {
  grid-area: 1 / 4;
}
.cell-5 {
  grid-area: 1 / 5;
}
.cell-6 {
  grid-area: 1 / 6;
}

/* row 2 */
.cell-7 {
  grid-area: 2 / 1;
}
.cell-8 {
  grid-area: 2 / 2;
}
.cell-9 {
  grid-area: 2 / 5;
}
.cell-10 {
  grid-area: 2 / 6;
}

/* row 3 */
.cell-11 {
  grid-area: 3 / 1;
}
.cell-12 {
  grid-area: 3 / 2;
}
.cell-14 {
  grid-area: 3 / 5;
}
.cell-15 {
  grid-area: 3 / 6;
}

/* row 4 */
.cell-16 {
  grid-area: 4 / 1;
}
.cell-17 {
  grid-area: 4 / 2;
}
.cell-18 {
  grid-area: 4 / 3;
}
.cell-19 {
  grid-area: 4 / 4;
}
.cell-20 {
  grid-area: 4 / 5 / 4 / 7;
} /* col 5 пустая */

/* center 2x2 */
.cell-13 {
  grid-column: 3 / span 2; /* 3-4 */
  grid-row: 2 / span 2; /* 2-3 */
}
