/* style-6.css */

/* Цель: “шапка” сверху (1), слева высокий сайдбар (2), справа высокий сайдбар (3),
   две широкие карточки (19, 20), одна высокая карточка (16) */

.grid {
  display: grid;

  /* TODO:
    1) 7 колонок, 5 строк
    2) gap: 20px
  */
}

/* 
  Может понадобиться:
   - grid-area (row-start / col-start / row-end (или span) / col-end (или span)) 
   - или grid-column / grid-row (включая span)
   - или grid-column-start / grid-row-start 
*/
