/* style-4.css */

/* Цель: сетка 6x4, в центре большой блок 13 (2x2), а 20 внизу справа растянут на 2 колонки. */

.grid {
  display: grid;
}

/* 
  Может понадобиться:
   - grid-area (row-start / col-start / row-end (или span) / col-end (или span)) 
   - или grid-column / grid-row (включая span)
   - или grid-column-start / grid-row-start 
*/
