/* style-5.css */

/* Цель: сверху header (1) на всю ширину, снизу footer (20) на всю ширину,
   внизу по центру 17–19 (а остальное заполняется “карточками”). */

.grid {
  display: grid;

  /* TODO:
    1) 5 колонок
    2) 6 строк
    3) gap: 20px
  */
}

/* 
  Может понадобиться:
   - grid-area (row-start / col-start / row-end (или span) / col-end (или span)) 
   - или grid-column / grid-row (включая span)
   - или grid-column-start / grid-row-start 
*/
